* {
    --color-background: #f9f8e5;
    --color-foreground: #090805;
    --color-visited: #807870;
    --color-subtle: #650;
    --color-border: #330;
}

@media (prefers-color-scheme: dark) {
    * {
        --color-background: #000000;
        --color-foreground: #ffffe0;
        --color-visited: #887850;
        --color-subtle: #430;
        --color-border: #330;
    }
}

body {
    padding: 1rem;
    color: var(--color-foreground);
    background-color: var(--color-background);
    font-family: serif;
}

@media screen and (width > 1600px) {
    body {
        padding: 1rem 16vw;
    }
}

@media screen and (width > 600px) {
    body {
        padding: 1rem 4vw;
    }
}

hr {
    color: var(--color-subtle);
}


a {
    color: var(--color-foreground);
}

a:visited {
    color: var(--color-visited);
}

header {
    display: flex;
    align-items: baseline;
}

header h1 {
    margin: 0;
    font-size: x-large;
}

header nav {
    margin-left: 2rem;
    display: flex;
}

header nav a {
    border-left: 1px solid var(--color-subtle);
    padding: 0.25rem;
}
header nav a:first-child {
    border: none;
}

header a {
    color: var(--color-foreground);
    text-decoration: none;
}

header a:visited {
    color: var(--color-foreground);
}

header a:hover {
    text-decoration: underline;
}

article {
    margin: 2rem;
}

article h1 {
    font-size: xx-large;
    margin: 0;
}

.all-tag-list {
    margin: 1rem;
}

.tags a {
    margin: 0.25rem;
    padding: 0.25rem;
    border-radius: 8px;
    border: 2px solid var(--color-border);
}

.post-list {
    list-style: none;
}

.summary {
    font-size: small;
}

footer {
    color: var(--color-visited);
}
