<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page_title }} | {{ config.site_title }}</title>

  {% block head_meta %}{% endblock %}
  <meta name="description" content="{{ config.description }}">
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <header>
    <h1><a href="/">{{ config.site_title }}</a></h1>
    <nav>
      <a href="/archive.html">Archive</a>
      <a href="/feed.xml">RSS Feed</a>
    </nav>
  </header>

    <hr>

  <main>
    {% block content %}{% endblock %}
  </main>

    <hr>

  <footer>
    <p>&copy; {{ config.current_date.year }} {{ config.author }}</p>
    <p>
      <a href="https://github.com/andrew-pa/andrew-pa.github.io/tree/{{ config.commit_hash }}" style="font-family: monospace;">
        {{ config.short_commit_hash }}
      </a>
    </p>
  </footer>
</body>
</html>

