{% extends "base.html" %}
{% from 'macros.html' import post_item %}

{% block content %}
  <div>
      <h2>Hi there! 👋</h2>
      I'm Andrew Palmer. I've been programming now for about 20 years, for fun and also occasionally for profit.
      This is my blog, mostly about the projects I have been working on and other miscellaneous thoughts on computers.
      You can also find me on <a target="_blank" href="https://github.com/andrew-pa">GitHub</a>, <a target="_blank" href="https://x.com/andrpa3172">X</a> and <a target="_blank" href="https://www.linkedin.com/in/andrew-pa1">LinkedIn</a>.
  </div>

  <h2>Recent Posts</h2>
  <ul class="post-list">
  {% for post in posts %}
      {{ post_item(post) }}
  {% endfor %}
  </ul>

  <h2>Posts By Tag</h2>
  <div class="all-tag-list tags">
    {% for tag in tags %}
      <a href="/tags/{{ tag|slugify }}.html">{{ tag }}</a>
    {% endfor %}
  </div>
{% endblock %}

