{% extends "base.html" %}

{% block head_meta %}
  <meta property="og:title" content="{{ post.title }}">
  <meta property="og:description" content="{{ post.summary }}">
  <meta property="og:image" content="/assets/link-preview.jpg">
  <meta property="og:url" content="{{ public_url }}">
{% endblock %}

{% block content %}
  <article>
    <h1>{{ post.title }}</h1>
    <div class="info">
        <em>Published on {{ post.pub_date_str }}</em>
        <p class="tags">
          {% for tag in post.tags %}
            <a href="/tags/{{ tag|slugify }}.html">{{ tag }}</a>
          {% endfor %}
        </p>
    </div>

    <hr/>

    <div>
      {{ post.content|safe }}
    </div>

    <div class="share-links">
      Share this post:
      <a href="https://x.com/share?url={{ public_url }}&text={{ post.title }}">X</a> |
      <a href="https://linkedin.com/sharing/share-offsite/?url={{ public_url }}">LinkedIn</a>
    </div>
  </article>
{% endblock %}

